.page {
  box-sizing: border-box;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

h1, p, h2 {
  text-align: left;
  width: 70%;
  margin: 0;
}

h1 {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 600;
  color: white;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

p {
  font-size: 16px;
  text-align: left;
}


img {
  width: 20px;
  height: 20px;
}

button {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  color: black;
  transition-duration: 250ms;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow:  1px 1px 1px #BC13FE , -1px -1px 1px #BC13FE;

}
.darkMode {
  background-color: black;
  color: white;
}

.history-list {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 7px;
}

.lightMode {
  background-color: white;
  color:black;
}

#about-pagebuttons {
  width: 70%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-start;
}

@media (max-width:500px) {
  .page {
    min-height: 90vh;
    width: 100vw;
  }

  p, .history-list, h1, h2 {
    width: 80%;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 16px;
  }

  #about-pagebuttons {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  p {
    font-size: 14px;
    line-height: 22px;
  }

  li {
    font-size: 14px;
    line-height: 25px;
  }


}

@media (min-width: 501px) {
  .page {
    width: 80vw;
    height: 100vh;
  }
  
}

