img {
  height: 50px;
}

.smallIcon {
  width: 20px;
}

.normalIcon {
  width: 50px;
}

@media (max-width:501px) {
  img {
    height: 30px;
  }
  .smallIcon {
    width: 15px;
  }
  
  .normalIcon {
    width: 30px;
  }
}