
.work-experience {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1, p {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 20px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
  }
}


.experience-technologies {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.past {
  color: #BC13FE;
}

.current {
  color: #00E100;
}

@media (max-width: 501px) {
  .work-experience {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: max(17px,4vw);
  }
}